.titulo_superior{
    background-color: rgb(210, 210, 210);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:-9px;
    width: 1207px;
    height: 40px;
    text-align: center;
    margin-top: -10px;
}

.fundo{
    background-color: rgb(179, 179, 255);
}

.img_jordan{
    background-image: url(./imagens/jordan_fundo.png);
    background-repeat: no-repeat;
    height: 500px;
    margin-left:60px;
    margin-top: 10px;
    border-radius: 200px;
}

.titulo_melhor_loja{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    line-height: 300px;
    color:#ff0000;
}

.subtitulo_parceria{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    margin-top: -130px;
    color:#ffffff;
}

.titulo_destaque{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:-9px;
    width: 1190px;
    height: 40px;
    text-align: center;
    margin-top: -25px;
}

.subtitulo_destaque{
    width: 1190px;
    height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #474747;
    text-align: center;
    margin-top: -10px;
    align-items: center;
}

.boxs_tenis{
    display: inline-table;
    background-color: #47474739;
    margin-left: 85px;
    margin-top: 30px;
    width: 250px;
    height: 220px;
    border-radius: 3px;
    border-style: none;
}

.jordan {
    margin-left: 11px;
    margin-top: 33px;
}

.boxs_tenis9{
    display: inline-table;
    background-color: #47474739;
    margin-left: 85px;
    margin-top: 30px;
    width: 250px;
    height: 220px;
    border-radius: 3px;
    border-style: none;
}

footer{
    background-color: rgb(210, 210, 210);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:-9px;
    font-size: 15px;
    width: 1207px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: -15px;
}
