
section{
    background-color: rgb(210, 210, 210);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:-9px;
    width: 1224px;
    height: 30px;
    text-align: center;
    margin-top: -20px;
}

@media(max-width:1200px)
{
    section{
        width: 414px;
        background-color: red;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left:-9px;
        height: 50px;
        text-align: center;
    }
    
}