@media(max-width:1200px)
{
    .titulo_superior{
        width: 1000px;
        height: 120px;
        font-size: 50px;
        margin-top: -65px;
        line-height: 170px;
    }   
}

@media(max-width:1200px)
{
    .img_jordan{
        width: 900px;
        height: 500px;
        margin-left: 40px;
    }
}

@media(max-width:1200px)
{
    .titulo_destaque{
        width: 980px;
        height: 100px;
    }   
}

@media(max-width:1200px)
{
    .subtitulo_destaque{
        width: 980px;
        margin-top: -70px;
    }   
}

@media(max-width:1200px)
{
    .boxs_tenis{
        margin-left: 130px;
        margin-top: 30px;        
    }
}

@media(max-width:1200px)
{
    .boxs_tenis9{
        margin-left: 335px;
        margin-top: 30px;        
    }   
}

@media(max-width:1200px)
{
    footer{
        width: 1000px;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
}
}
